# React app
location = /wssweb {
    return 301 /wssweb/;
}

# React SPA
location ^~ /wssweb/ {
    alias /var/www/websocket-web/dist/;
    try_files $uri @reactWssweb;
}
    
location @reactWssweb {
    rewrite ^/wssweb/(.*)$ /wssweb/index.html last;
}